body {
  color: black;
  background-color: white;
}

.navbar-custom a {
  color: black;
}

.navbar-custom .nav li a:hover {
  color: rgba(100, 100, 100, 1);
  outline: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}