body {
  color: black;
  background-color: white;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

.navbar-custom a {
  color: black;
}

.navbar-custom .nav li a:hover {
  color: rgba(100, 100, 100, 1);
  outline: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }
}

.content-section {
  padding-top: 10px;
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: black;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.btn-default {
  border: 1px solid #ffffff;
  color: #42DCA3;
  background-color: black;
}